<div class="row">
  <div class="small-12 columns">
    <h2><%= @curriculum.name %></h2>
    <!-- if admin -->
    <span><%= link_to "edit", edit_curriculum_path %></span>
    <!-- end -->
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render @topics %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h5>Create a new topic</h5>
    <%= form_for [@curriculum, @curriculum.topics.build] do |f| %>
      <div class="row">
        <div class="medium-6 small-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit "Add new topic", class: 'button small' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


