<tr>
  <td>
    <%= link_to topic.name, curriculum_topic_path(@curriculum, topic) %>
    <% if employee? %>
      <%= worksheets_complete_for_topic_by_user(topic, current_user) %>
    <% end %>
  </td>
  <td>
    <%= topic.descendants.count if topic.descendants.count > 0 %>
  </td>
  <td class="text-right warning">
    <% if can?(:manage_curriculum) %>
      <%= link_to "Add Sub Topic", new_curriculum_topic_path(@curriculum, :parent_id => topic), :class=>"success" %>
      |
      <%= link_to "Edit", edit_curriculum_topic_path(@curriculum, topic), :class=>"tiny" %>
    <% end %>
  </td>
</tr>
