<div class="row">
  <div class="small-12 columns">
    <h5>Create a new topic</h5>
    <%= form_for [@curriculum, @topic] do |f| %>
      <%= f.hidden_field :parent_id %>
      <div class="row">
        <div class="medium-6 small-12 columns">
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.submit "Add new topic", class: 'button small' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

