<div class="row">
  <div class="small-12 columns">
    <h5>
      <% if @topic.parent %>
        New Sub Topic for <%= @topic.parent.name %>
      <% else %>
        New Topic
      <% end %>
    </h5>
    <%= form_for [@curriculum, @topic] do |f| %>
      <%= f.hidden_field :parent_id %>
      <div class="row">
        <div class="medium-6 small-12 columns">
          <%= f.text_field :name %>
          <% if @topic.parent %>
            <%= f.submit "Add Sub Topic", class: 'button small' %>
          <% else %>
            <%= f.submit "Add Topic", class: 'button small' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

