<div class="row">
  <div class="small-12 columns">
    <h2><%= @topic.name %>
      <% if can?(:manage_curriculum) %>
      <small class="edit_controls">
          <%= link_to "Edit", edit_curriculum_topic_path(@curriculum, @topic), :class=>"tiny button" %>
          <%= link_to "Add Sub Topic", new_curriculum_topic_path(@curriculum, :parent_id => @topic), :class=>"tiny button" %>
          <%= link_to "Add Document", new_curriculum_topic_document_path(curriculum_id: @curriculum.id, topic_id: @topic), :class => "tiny button" %>
          <%= link_to "Add Worksheet", new_worksheet_path(curriculum: @curriculum, topic: @topic), :class => "tiny button" %>
      </small>
      <% end %>
    </h2>
  </div>
</div>


<% if @topic.descendants.present? %>
  <div class="row container">
    <div class="small-12 columns">
      <h3>Sub Topics
      <% if can?(:manage_curriculum) %>
        <small class="edit_controls">
          <%= link_to "Add Sub Topic", new_curriculum_topic_path(@curriculum, :parent_id => @topic), :class=>"tiny button" %>
        </small>
      <% end %>
      </h3>
      <table class="small-12">
        <%= render @topic.descendants(:at_depth => 1) %>
      </table>
    </div>
  </div>
<% end %>

<% if @topic.worksheets.present? %>
  <div class="row">
    <div class="small-12 columns">
      <h3>Worksheets
          <% if can?(:manage_curriculum) %>
          <small class="edit_controls">
              <%= link_to "Add Worksheet", new_worksheet_path(curriculum: @curriculum, topic: @topic), :class => "tiny button" %>
          </small>
          <% end %>
      </h3>
      <table>
        <tbody>
          <% @topic.worksheets.each do |worksheet| %>
            <tr>
              <td><%= worksheet.title %></td>
              <% if admin? %>
                <%= render partial: 'admin_worksheet_actions' %>
              <% else %>
                <%= render partial: 'user_worksheet_actions', locals: {worksheet: worksheet} %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>


<% if @topic.documents.present? %>
  <div class="row">
    <div class="small-12 columns">
      <h3>Documents
	<% if can?(:manage_curriculum) %>
          <small class="edit_controls">
            <%= link_to "Add Document", new_curriculum_topic_document_path(curriculum_id: @curriculum.id, topic_id: @topic), :class => "tiny button" %>
          </small>
	<% end %>
      </h3>
      <table class="small-12">
        <thead>
		<th>Document</th>
        </thead>
        <tbody>
        	<% @topic.documents.each do |document| %>
        	  <tr>
		    <td><%= link_to document.title, document.url %></td>
        	  </tr>
        	<% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
