<div class="row">
  <div class="small-12 columns">
    <h2><%= @topic.name %>
      <!-- if admin -->
      <small class="edit_controls">
          <%= link_to "Edit", edit_curriculum_topic_path(@curriculum, @topic), :class=>"tiny button" %>
          <%= link_to "Add Sub Topic", new_curriculum_topic_path(@curriculum, :parent_id => @topic), :class=>"tiny button" %>
          <%= link_to "Add Document", new_curriculum_topic_document_path(curriculum_id: @curriculum.id, topic_id: @topic), :class => "tiny button" %>
          <%= link_to "Add Worksheet", new_worksheet_path(curriculum: @curriculum, topic: @topic), :class => "tiny button" %>
      </small>
      <!-- end -->
    </h2>
  </div>
</div>


<% if @topic.descendants.present? %>
  <div class="row container">
    <div class="small-12 columns">
      <h3>Sub Topics
      <!-- if admin -->
        <small class="edit_controls">
          <%= link_to "Add Sub Topic", new_curriculum_topic_path(@curriculum, :parent_id => @topic), :class=>"tiny button" %>
        </small>
      <!-- end -->
      </h3>
      <table class="small-12">
        <%= render @topic.descendants(:at_depth => 1) %>
      </table>
    </div>
  </div>
<% end %>

<% if @topic.worksheets.present? %>
  <div class="row">
    <div class="small-12 columns">
      <h3>Worksheets
      <%= link_to "New Document", new_curriculum_topic_document_path(curriculum_id: @curriculum.id, topic_id: @topic) %>
      </h3>
      <ul>
      <% @topic.worksheets.each do |worksheet| %>
        <li><%= link_to worksheet.title, edit_worksheet_path(curriculum: @curriculum, topic: @topic) %></li>
      <% end %>
      </ul>
      <%= link_to "Add Worksheet", new_worksheet_path(curriculum: @curriculum, topic: @topic) %>
    </div>
  </div>
<% end %>


<% if @topic.documents.present? %>
  <div class="row">
    <div class="small-12 columns">
      <h3>Documents</h3>
      <table>
        <thead>
        	<th>Title</th>
        	<th>Document Link</th>
        </thead>
        <tbody>
        	<% @topic.documents.each do |document| %>
        	  <tr>
          	    <td><%= link_to document.title, curriculum_topic_document_path(@curriculum, @topic, document) %></td>
        	    <td><%= link_to "File", document.url %></td>
        	  </tr>
        	<% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<!-- documents, ppt, wordsheets -->
