<div class="row">
  <div class="small-12 columns">
    <h2><%= @topic.name %></h2>
    <%= link_to "Add Sub Topic", new_curriculum_topic_path(@curriculum, :parent_id => @topic) %>
    <%= link_to "Edit", edit_curriculum_topic_path(@curriculum, @topic) %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Worksheets</h2>
    <ul>
    <% @topic.worksheets.each do |worksheet| %>
      <li><%= link_to worksheet.title, edit_worksheet_path(curriculum: @curriculum, topic: @topic) %></li>
    <% end %>
    </ul>
    <%= link_to "New Worksheet", new_worksheet_path(curriculum: @curriculum, topic: @topic) %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Documents</h2>
    <table>
      <thead>
	<th>Title</th>
	<th>Document Link</th>
      </thead>
      <tbody>
	<% @topic.documents.each do |document| %>
	  <tr>
  	    <td><%= link_to document.title, curriculum_topic_document_path(@curriculum, @topic, document) %></td>
	    <td><%= link_to "File", document.url %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
    <%= link_to "New Document", new_curriculum_topic_document_path(curriculum_id: @curriculum.id, topic_id: @topic) %>
  </div>
</div>


<!-- documents, ppt, wordsheets -->
