<div class="row">
  <div class="small-12 columns">
    <h2>Users</h2>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <th class="show_column">First Name</th>
        <th class="show_column">Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </thead>
    <% @users.each do |user| %>
      <tr>
       <td class="show_column"><%= user.first_name %></td>
        <td class="show_column"><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= admin?(user) ? "Admin" : "Employee" %></td>
        <td><%= link_to "View",  user_path(user.id) %> | <%= link_to "Edit",  edit_user_path(user.id) %></td>
      </tr>
    <% end %>
  </table>
<br>
  <%= link_to "Add New User", new_user_path, class: "button tiny" %>
  </div>
</div>



