<h1>Users</h1>
<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= admin?(user) ? "Admin" : "Employee" %></td>
      <td><%= link_to "View",  user_path(user.id) %> | <%= link_to "Edit",  edit_user_path(user.id) %></td>
    </tr>
 <% end %>
</table>
<br>
<%= link_to "Add New User", new_user_path, class: "button tiny" %>


