<div class="row">
  <div class="medium-8 columns">
    <h2>Add a new Employee</h2>

    <%= form_for @user, url: users_path, method: :post do |f| %>
      <%= f.label "Email" %>
      <%= f.email_field :email, required: true %>
      <br>
       <%= f.label "Password" %>
      <%= f.text_field :password, :required => true %>
      <br>
      <%= f.label "First Name" %>
      <%= f.text_field :first_name, :required => true %>
      <br>
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, :required => true %>
      <br>
      <%= f.label "Birthdate" %>
      <%= f.date_field :birthdate, :required => true %>
      <br>
      <button>Add User</button>
    <% end %>
  </div>
</div>


