<div class="row">
  <div class="small-12 columns">
    <h2>Events</h2>
  </div>
</div>

<div class="row">
  <div class="medium-8 columns">
    <h5>Timeline</h5>
    <% if @dates %>
      <% @dates.each do |key, value| %>
        <%= render partial: "date", locals: { date: key, events: value } %>
      <% end %>
    <% else %>
      <p class="no-events">
        <i>There are currently no events!</i><br />
        <i>You can create them using the form on the right.</i>
      </p>
    <% end %>
  </div>
  <div class="medium-4 columns">

    <h5>Add an event</h5>

    <% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>

    <%= form_for @event do |f| %>
      <%= f.label :name, "Name of event" %>
      <%= f.text_field :name %>
      <%= f.label :user_id, "Employee" %>
      <%= f.collection_select :user_id, @users, :id, :full_name, include_blank: true %>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.label :date %>
      <%= f.text_field :date, id: "event-date-picker" %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
