<div class="row">
  <div class="small-12 columns">
    <%= link_to "Back to events", events_path %>
  </div>
</div>

<div class="row">
  <div class="medium-6 medium-offset-3 columns">
    <div class="event">

      <div class="row">
        <div class="medium-12 columns">
          <h4 class="left"><%= @event.name %></h4>
          <%= link_to "Edit", edit_event_path(@event), class: 'button tiny right' %>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="small-12 columns">
          <% if @user %>
          <p>
            Employee: <%= "#{@user.first_name} #{@user.last_name}" %>
          </p>
          <% end %>
          <p>
            Date: <%= @event.date %>
          </p>
          <div class="event-description">
            <p>
              <%= @event.description %>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <%= link_to "Delete this event", event_path(@event), method: :delete, data: { confirm: 'This will delete this event permanently. Are you sure?' }, class: 'button alert tiny' %>
        </div>
      </div>

    </div>

  </div>
</div>
