<div class="row">
  <div class="small-12 columns">
    <%= link_to "Back to calendar", events_path %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h2><%= @event.name %></h2>
    <%= link_to "Edit", edit_event_path(@event) %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p>
      Employee: <%= "#{@user.first_name} #{@user.last_name}" %>
    </p>
    <p>
      Date: <%= @event.date %>
    </p>
    <p>
      <%= @event.description %>
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= link_to "Delete this event", event_path(@event), method: :delete, data: { confirm: 'This will delete this event permanently. Are you sure?' }, class: 'button alert tiny' %>
  </div>
</div>

