<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "PDC Docs", root_path %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li><%= link_to "Users", users_path %></li>
        <% end %>
        <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Curriculums", curriculums_path %></li>
        <li class="has-dropdown">
          <a href="#"><%= current_user.email %></a>
          <ul class="dropdown">
            <li><%= link_to "Profile", "#" %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      <% else %>
      <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
